*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.insert{
    padding: 20px;
}
table{
    width: 80%;
    border: 2px solid black;    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#addData,#updateData{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color:#388e3c;
    color: #fff;
}
th,td{
    width: 20%;
    padding: 10px;
    border: 1px solid black;
}
#edit{
    margin-right: 15px;
    background-color: #ffc107;
}
#edit,#delete{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#delete{
    background-color: red;
    color: #fff;
}
